h1 { 
	font-family: 'DMfonts';  	
    font-size: 4em;
	font-weight: bold;
	color: #dadada;
	margin-bottom: 0;
	letter-spacing: -.08em;
	text-rendering: optimizeLegibility; 
	}
h2 { 	
    font-family: 'DMfonts'; 
 	color: #444; 
 	/*color: rgb(243, 124, 55); */
	margin-top: 0;
	margin-left: 320px; 
   }
   
footer { 	
    font-family: 'DMfonts'; 
 	color: #444; 
 	font-size: 0.6em;
 	/*color: rgb(243, 124, 55); */
	position: relative;
    right: 2%;
    bottom: 2%; 
   }
   
canvas { 	
    display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #9C9898; 
   }  
   
article {
	display: block;
	width:1000px;
	margin-left: auto;
	margin-right: auto; 
}   
   
   
.button {
    display: block;
	margin-left: auto;
	margin-right: auto; 
}

.form {
	display: block;
	width:1000px;
	margin-left: auto;
	margin-right: auto; 
}

.refform {
	width:700px; 
}

   
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }


@font-face {
        font-family: 'DMfonts';
        src: url('fonts/b733-deco-regular-webfont.eot');
        src: url('fonts/b733-deco-regular-webfont.woff') format('woff'), 
             url('fonts/b733-deco-regular-webfont.ttf') format('truetype'), 
             url('fonts/b733-deco-regular-webfont.svg#webfontH9pO81ke') format('svg');
        font-weight: normal;
        font-style: normal;
}

