#nav {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 34px;
	background-color: #292929;
	border-bottom: 1px solid #D9D9D9;  
	border-top: 1px solid #D9D9D9;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	
#nav ul {
	margin: 0;
	}
	
#nav li {
	margin-right: 1%;
	float: right; 
	font-size: 16px;
	list-style-type: none;		
	}
	
#nav li a {
	display: block;
	margin-left:8px;
	margin-top:8px;
	text-decoration: none;
	color: #999999;
	outline: 0;
	}
	

#nav li a:hover {
	color: #FFFFFF;
	background-color: #222222; 
	}


#nav #logo {
	position: relative;
	margin-left: 0%;
	padding: 0; 
	float: left;
	}
	
	
#nav #username {
	position: absolute;
	margin-left: 45%;
	margin-top: 8px;
	color: #999999;
	font-style: italic;
	}
	
#nav #name {
	margin-top: 4px;  	
    font-size: 26px;
	color: orange;
	letter-spacing: -.06em;
	text-rendering: optimizeLegibility; 
	}

	

   
#login { 	
	position: relative;
    display: block;
    top: 27px;
	background-color: #292929;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width:550px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto; 
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom: 1px solid #D9D9D9; 
	border-left: 1px solid #D9D9D9; 
	border-right: 1px solid #D9D9D9;    
	
   }  

#login input {
	width: 220px;
	margin-left: 30px;
	padding: 0;
   } 
   
#login .loginspacer {
	height: 20px;
   } 
   
   
   
#login #warningtext {
	color: red;
	margin-left:30px;
	font-size: 12px;
}
   
#login #loginoptions a {
	margin-left:30px;
	margin-top:8px;
	text-decoration: none;
	color: #999999;
	outline: 0;
	font-size:10px;	
}

#login #loginoptions a:hover{
	color: #FFFFFF;
	background-color: #222222;
}


#login #loginoptions #submitlogin{
	font-size: 18px;
	font-style: bold;
}

#newpaperform { 	
	position: relative;
    display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   } 

#newpaperform #doilabel {
	float:left;
	margin-left: 40px;
	margin-right: 60px;
	
	
}

#newpaperform #doifield {
		
	
}

#newpaperform ul label {
	vertical-align: middle;
	float:left;
}

#newpaperform ul input{
	vertical-align: middle;
	float: right;
	margin-right:20px;
	margin-top:0px;
	width: 820px;
	} 
	
#newpaperform div{
	padding-top: 4px;
	padding-bottom: 4px;
	} 
	
article .buttons{
	float: right;
	margin-right:20px;
	color: #444444;
	background-color: #FFFFFF;
	border: 2px solid #D9D9D9; 
	border-radius: 5px;
	} 
	
article .buttons:hover{
	cursor:pointer;
	border: 2px solid orange; 
	} 
	
#newpaperform .clear{clear:both;}  


#signupform { 	
	position: relative;
    display: block;
    top: 90px;
	background-color: #292929;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width:550px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto; 
	border-radius: 15px;
	border: 1px solid #D9D9D9;    
	
   } 
   
#signupform div{
	padding-top: 4px;
	padding-bottom: 4px;
	}   
   
   
#signupform label{
    vertical-align: middle;
	
	float:left;
	color: #999999; 
	}
	
#signupform input{
	vertical-align: middle;
	float: right;
	margin-right:20px;
	margin-top:0px;
	color: #BBBBBB; 
	width: 320px;
	} 
	

#signupform .spacer{
	height:12px;
	display: block;
	position: relative;
	} 
	
#signupform .clear{clear:both;}   
   
#signupform #signupoptions a {
	margin-left:50px;
	margin-top:8px;
	text-decoration: none;
	color: #999999;
	outline: 0;
	font-size:18px;	
}

#signupform #signupoptions a:hover{
	color: #FFFFFF;
}

#signupform #warningtext {
	color: red;
	margin-left:170px;
	font-size: 12px;
}
   
   
   
 
head {
	margin: 0;
}   
  
  
   
canvas { 	
    display: block;
    margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D9D9D9; 
	
   }  
   
article {
	display: block;
	width:1000px;
	margin-left: auto;
	margin-right: auto; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

article h3{
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	outline: 0;
}

article h3 a {
	margin-left:20px;
	text-decoration: none;
	color: #888888;
	outline: 0;
}

article h3 a:hover {	
	color: #666666;
	cursor:pointer;
	}  


article fieldset {
	border-radius: 5px;
}

   
   
.button {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
	margin-left: auto;
	margin-right: auto; 
}

.form {
	display: block;
	width:1000px;
	margin-left: auto;
	margin-right: auto; 
}

.refform {
	width:700px; 
}

   
footer { 	
    font-family: 'DMfonts'; 
 	color: #444; 
 	font-size: 0.6em;
 	/*color: rgb(243, 124, 55); */
	position: relative;
    right: 2%;
    bottom: 2%; 
   }
