head {
	margin: 0;
} 

#nav {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 34px;
	background-color: #292929;
	border-bottom: 1px solid #D9D9D9;  
	border-top: 1px solid #D9D9D9;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
	
#nav ul {
	margin: 0;
}
	
#nav li {
	margin-right: 1%;
	float: right; 
	font-size: 16px;
	list-style-type: none;		
}
	
#nav li a {
	display: block;
	margin-left:8px;
	margin-top:8px;
	text-decoration: none;
	color: #999999;
	outline: 0;
}

#nav li a:hover {
	color: #FFFFFF;
}

#nav #logo {
	position: relative;
	margin-left: 0%;
	padding: 0; 
	float: left;
}
	
#nav #shownname {
	position: absolute;
	margin-left: 35%;
	margin-top: 8px;
	color: #999999;
	font-style: italic;
}
	
#nav #name {
	margin-top: 4px;  	
    font-size: 26px;
	color: orange;
	letter-spacing: -.06em;
	text-rendering: optimizeLegibility; 
}
   
.slidedowns { 	
	position: relative;
    display: block;
    top: 27px;
    color: #999999;
	background-color: #292929;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 550px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto; 
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom: 1px solid #D9D9D9; 
	border-left: 1px solid #D9D9D9; 
	border-right: 1px solid #D9D9D9;    
}  

.slidedowns input {
	width: 220px;
	margin-left: 30px;
	padding: 0;
} 

.slidedowns span:hover {
	color: #FFFFFF;
	cursor:pointer;
} 

.slidedowns .slidespacer {
	height: 20px;
} 
   
.slidedowns #warningtext, #mapswarning{
	color: red;
	margin-left:30px;
	font-size: 12px;
}
   
.slidedowns #loginoptions a {
	margin-left:30px;
	margin-top:8px;
	text-decoration: none;
	color: #999999;
	outline: 0;
	font-size:10px;	
}

.slidedowns #loginoptions a:hover{
	color: #FFFFFF;
}

.slidedowns #loginoptions #submitlogin{
	font-size: 18px;
}
  
canvas { 	
    display: block;
    margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D9D9D9;
	outline: 0; 
}

#paper { 	
    width: 920px;
    height: 18px;
    margin:0;
    float: left;
}

#selectinput { 
	float: right;
	margin:0px;
	width:70px;
	color: #444444;
	background-color: #FFFFFF;
	border: 1px solid #D9D9D9; 
	border-radius: 5px;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;	
	padding-top:4px;
	padding-bottom:4px;
	text-align:center;
	
}

#selectinput:hover{
	cursor:pointer;
}

   
article {
	display: block;
	width:1000px;
	margin-left: auto;
	margin-right: auto; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

article .panel{
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	outline: 0;
	color: #888888;
	margin-bottom: 10px;
}

article .panel a {
	margin-left:20px;
	text-decoration: none;
	outline: 0;
}

article .panel a:hover{
	cursor:pointer;
	color: #666666;
}

article .bodies{
	margin-top: 15px;
	margin-bottom: 15px;
}

article fieldset {
	border-radius: 5px;
}
	
article .buttons{
	float: right;
	margin-right:20px;
	color: #444444;
	background-color: #FFFFFF;
	border: 2px solid #D9D9D9; 
	border-radius: 5px;
	text-decoration: none;
}

article .buttons:hover{
	cursor:pointer;
	border: 2px solid orange; 
}

article .mapbuttons{
	float: right;
	margin-right:110px;
	width: 110px;
	color: #444444;
	background-color: #FFFFFF;
	border: 2px solid #D9D9D9; 
	border-radius: 5px;
	text-decoration: none;
}

article .mapbuttons:hover{
	cursor:pointer;
	border: 2px solid orange; 
}

article textarea{
   resize: none;
   background-color: #FFFFFF;
   border-radius: 3px;
   border: 1px solid #D9D9D9;
}
	
#newpaperform { 	
	position: relative;
    display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

#newpaperform #doilabel {
	float:left;
	margin-left: 40px;
	margin-right: 60px;
}

#newpaperform ul label {
	vertical-align: middle;
	float:left;
}

#newpaperform ul input{
	vertical-align: middle;
	float: right;
	margin-right:20px;
	width: 800px;
}

#newpaperform .authorrows{
	margin-left:86px;
}

#newpaperform span {
	float: right;
	margin-right: 42px;
	margin-bottom:0px;
	text-decoration: none;
	color: #999999;
	outline: 0;
	font-size:10px;	
}

#newpaperform span:hover{
	color: #000000;
	cursor:pointer;
}

#newpaperform .authorsform{
	width: 175px;
	float: left;
} 
	f-length-elem"
#newpaperform div{
	padding-top: 4px;
	padding-bottom: 4px;
} 
	
#newpaperform #newpaperwarning{
	color: red;
	margin-left:60px;
	font-size: 12px;
}
	
#newpaperform .clear{
	clear:both;
}  

#userform { 	
	position: relative;
    display: block;
    top: 90px;
	background-color: #292929;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width:550px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto; 
	border-radius: 15px;
	border: 1px solid #D9D9D9;    
} 
   
#userform div{
	padding-top: 4px;
	padding-bottom: 4px;
}   
   
#userform label{
    vertical-align: middle;
	float:left;
	color: #999999; 
}
	
#userform input{
	vertical-align: middle;
	float: right;
	margin-right:20px;
	margin-top:0px;
	color: #BBBBBB; 
	width: 320px;
} 

#userform .spacer{
	height:12px;
	display: block;
	position: relative;
} 
	
#userform .clear{
	clear:both;
}   
   
#userform #signupoptions a {
	margin-left:50px;
	margin-top:8px;
	text-decoration: none;
	color: #999999;
	outline: 0;
	font-size:18px;	
}

#userform #signupoptions a:hover{
	color: #FFFFFF;
}

#userform #warningtext {
	color: red;
	margin-left:170px;
	font-size: 12px;
}

.full-length-elem {
	display: block;
	width:1000px;
	margin-left: auto;
	margin-right: auto; 
}

.semi-length-elem {
	display: block;
	width: 950px;
	margin-left: auto;
	margin-right: auto; 
}

.half-length-elem {
	width: 400px;
	margin-left: 300px;
	float:left; 
}

.refform {
	width:700px; 
}

